.slider-container {
    position: relative;
    margin-top: 25px;
    margin-left: 10px;
    display: none;
  }

  
  .slider-container .slider-parent {
    height: 85vh;
    max-width: 100%;
    width: 100%;
    background: #f5f5f5;
    position: absolute;
    left: -250px;
    top: 50px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .2s all linear;
  }
  
  .slider-container .slider-parent.active {
    visibility: visible;
    pointer-events: inherit;
    transition: .2s all ease-in-out;
    opacity: 1;
    left: 0;
  }

  
  
  
  li a {
    text-decoration: none;
  }
  
  .list-style {
    border: 1px solid #f5f5f5;
    height: 50px;
  }
  


body {
    font-family: 'Futura PTT','Helvetica Neue','Arial',sans-serif;
    font-size: 13px;  
}

.logo {
    width: 130px;
    height: 75px;
}


.nav-menu {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0px;
    margin-left: 2.5%;
    font-size: 12px;
}

.nav-item {
    list-style: none;
    margin-right: 36px;
}

.nav-item a {
    text-decoration: none;
}

.nav-item:first-child {
    margin-right: auto;
}

input {
    border: none;
    border-bottom: 1px solid;
}

.dropdown-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
    
}

.list {
    list-style: none;
}

.list a {
    text-decoration: none;
}


.gallery {
    width: 30%;
}

.main-pictures {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 2.5%;
    box-sizing: border-box;
}


footer {
    background-color: #f5f5f5;
}

.email-marketing {
    margin-top: 40px;
    display: grid;
    justify-content: center;
}

.membership {
    margin-top: 15px;
}

.email-input {
    text-align: center;
    margin-top: 15px;
}


.footer-links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: center;
}

h4 {
    margin-top: 20%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #333333;
}

ul {
    list-style: none;
    padding: 0;
}

.footer-col {
    width: 30%;
    padding: 0 18px;
}

.footer-col a {
    text-decoration: none;
}

.footer-col li {
    margin-bottom: 15px;
}

.social-content {
    display: flex;
    justify-content: center;
    margin-right: 35px;
    margin-top: 20px;
    padding-bottom: 30px;
}


.media {
    padding-left: 3%;
}

#content-mobile {
    display: none;
}





@media (max-width: 768px) {
    
    .logo {
        position: absolute;
        right: 20px;
        top: 3px;
        width: 100px;
        height: 60px;
        
    }
    
    .gallery {
        width: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .main-pictures {
        display: flex;
        flex-direction: column;
    }

    .dropdown-list {
        display: none;
    }

    .dropdown-list-slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        line-height: 2;
        text-align: left;

    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 2;
    }

    .mobile-item {
        visibility: collapse;
    }
    
    #content-mobile {
        display: flex;
    }

    .slider-container {
        position: relative;
        margin-top: 25px;
        margin-left: 10px;
        display: inherit;
      }
}

